title=About Us

<p id="home-image-container">
  <img alt="eyeo office" src="/images/eyeo-home-1x.png" />
</p>

<div id="who-we-are" class="content-block columns-container two-columns">
  <div class="column" markdown="1">
    <? include index/whoweare ?>
  </div>

  <div class="column">
    <? include index/mission ?>
  </div>
</div>

<div id="our-work">
  <div class="content-block">
    <h1 class="heading centered"><span>What we are working on:</span></h1>

    <div class="columns-container four-columns">
      <div class="column">
        <? include index/ourwork-betterads ?>
      </div>

      <div class="column">
        <? include index/ourwork-privacy ?>
      </div>

      <div class="column">
        <? include index/ourwork-security ?>
      </div>

      <div class="column">
        <? include index/ourwork-opensource ?>
      </div>
    </div>
  </div>
</div>

<div id="media" class="content-block">
  <? include index/media ?>
</div>
