title=Press

<head>
  <style>
    #media-gallery img
    {
      vertical-align: middle;
      max-height: 150px;
      max-width: 150px;
    }

    #media-gallery a
    {
      display: inline-block;
      line-height: 150px;
      width: 150px;
    }
  </style>
  <script src="/js/jquery.ui.core.min.js"></script>
  <script src="/js/jquery.ui.widget.min.js"></script>
  <script src="/js/jquery.ui.tabs.min.js"></script>
  <script>
    jQuery(function()
      {
        jQuery("#tabs").tabs();
        jQuery("#media a").attr("download", "");
      });
  </script>
</head>

<header class="page-title">
  <h1>Press</h1>
</header>

<div id="press-info" class="content-block columns-container one-sidebar">
  <div class="column sidebar-left">
    <div class="contact-person">
      <? include press/contact ?>
    </div>
  </div>
  <div class="column">
    <? include press/overview ?>

    <div id="tabs">
      <ul>
        <li><a href="#company-info">Company information</a></li>
        <li><a href="#faq">Media FAQs</a></li>
        <li><a href="#facts">Stats +</a></li>
        <li><a href="#media">Images</a></li>
        <li><a href="#releases">Press releases</a></li>
      </ul>

      <div id="company-info">
        <? include press/company-info ?>
      </div>

      <div id="faq">
        <? include press/faq ?>
      </div>

      <div id="facts">
        <? include press/facts ?>
      </div>

      <div id="media">
        <? include press/media ?>
      </div>

      <div id="releases">
        <? include press/releases ?>
      </div>
    </div>
  </div>
</div>
